.burp-suite-enterprise-edition-pricing-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.burp-suite-enterprise-edition-pricing-text10 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text11 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text12 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text13 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text14 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text15 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text16 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text17 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text18 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text19 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text20 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text21 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text22 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text23 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text24 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text25 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text26 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text27 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-pricing-text28 {
  display: inline-block;
}
