.burp-suite-enterprise-edition-request-a-demo-redirect-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text10 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text11 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text12 {
  color: var(--dl-color-core-enterprise-1);
  display: inline-block;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text13 {
  display: inline-block;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text14 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text20 {
  font-weight: 700;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text21 {
  font-weight: 700;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text23 {
  font-weight: 700;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text24 {
  font-weight: 700;
}
 
.burp-suite-enterprise-edition-request-a-demo-redirect-text26 {
  font-weight: 700;
}
