.customer-story-efficient-discovery-comprehensive-application-mapping-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text100 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text101 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text102 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text103 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text104 {
  color: var(--dl-color-text-white);
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text105 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text106 {
  color: var(--dl-color-core-navy-1);
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text107 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text108 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text109 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text110 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text111 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text116 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text117 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text118 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text119 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text120 {
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text122 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text123 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text124 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text125 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text126 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text127 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text128 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text129 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text130 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link10 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text133 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text134 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text135 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text136 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text137 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text138 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link11 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text144 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text145 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text146 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text147 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text148 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text149 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text150 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link12 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text153 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text154 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text155 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text156 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text157 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link13 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text163 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text164 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text165 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text166 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text167 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text168 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text169 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text170 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text171 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text172 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text173 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text174 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link14 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link15 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text181 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text182 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text183 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link16 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text189 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text190 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text191 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text192 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text193 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text194 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text195 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text196 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text197 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text198 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text199 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text200 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text201 {
  color: var(--dl-color-portswigger-primary);
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text202 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text203 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text204 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text205 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text206 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link17 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link18 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text210 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text211 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text212 {
  display: inline-block;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-link19 {
  text-decoration: underline;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-component36 {
  text-decoration: none;
}
 
.customer-story-efficient-discovery-comprehensive-application-mapping-text221 {
  display: inline-block;
}
