.burp-ai-capabilities-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.burp-ai-capabilities-text10 {
  display: inline-block;
}
 
.burp-ai-capabilities-text11 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
 
.burp-ai-capabilities-text12 {
  display: inline-block;
}
 
.burp-ai-capabilities-text13 {
  display: inline-block;
}
 
.burp-ai-capabilities-text14 {
  display: inline-block;
}
 
.burp-ai-capabilities-text15 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
 
.burp-ai-capabilities-text16 {
  display: inline-block;
}
 
.burp-ai-capabilities-text17 {
  display: inline-block;
}
 
.burp-ai-capabilities-text18 {
  display: inline-block;
}
 
.burp-ai-capabilities-text19 {
  display: inline-block;
  font-weight: 700;
}
 
.burp-ai-capabilities-text20 {
  display: inline-block;
}
 
.burp-ai-capabilities-text21 {
  display: inline-block;
}
 
.burp-ai-capabilities-text22 {
  display: inline-block;
}
 
.burp-ai-capabilities-text28 {
  display: inline-block;
  font-weight: 700;
}
 
.burp-ai-capabilities-text29 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.burp-ai-capabilities-text30 {
  display: inline-block;
}
 
.burp-ai-capabilities-text31 {
  color: var(--dl-color-text-white);
  display: inline-block;
}
 
.burp-ai-capabilities-text35 {
  display: inline-block;
}
 
.burp-ai-capabilities-text36 {
  display: inline-block;
}
 
.burp-ai-capabilities-text37 {
  display: inline-block;
}
 
.burp-ai-capabilities-text45 {
  display: inline-block;
  font-weight: 700;
}
 
.burp-ai-capabilities-text46 {
  display: inline-block;
}
 
.burp-ai-capabilities-text47 {
  display: inline-block;
}
 
.burp-ai-capabilities-text48 {
  display: inline-block;
}
 
.burp-ai-capabilities-text56 {
  display: inline-block;
  font-weight: 700;
}
 
.burp-ai-capabilities-text57 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.burp-ai-capabilities-text58 {
  display: inline-block;
}
 
.burp-ai-capabilities-text59 {
  color: var(--dl-color-text-white);
  display: inline-block;
}
 
.burp-ai-capabilities-text66 {
  display: inline-block;
}
 
.burp-ai-capabilities-text67 {
  display: inline-block;
}
 
.burp-ai-capabilities-text68 {
  display: inline-block;
}
 
.burp-ai-capabilities-item1-content {
  display: inline-block;
}
 
.burp-ai-capabilities-text69 {
  display: inline-block;
}
 
.burp-ai-capabilities-item2-content {
  display: inline-block;
}
 
.burp-ai-capabilities-text70 {
  display: inline-block;
}
 
.burp-ai-capabilities-text71 {
  display: inline-block;
}
 
.burp-ai-capabilities-text72 {
  display: inline-block;
}
 
.burp-ai-capabilities-item4-content {
  display: inline-block;
}
 
.burp-ai-capabilities-text73 {
  display: inline-block;
}
 
.burp-ai-capabilities-text74 {
  display: inline-block;
}
 
.burp-ai-capabilities-text75 {
  display: inline-block;
}
 
.burp-ai-capabilities-item6-content {
  fill: var(--dl-color-text-body-grey);
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.burp-ai-capabilities-link1 {
  text-decoration: underline;
}
 
.burp-ai-capabilities-link2 {
  text-decoration: underline;
}
 
.burp-ai-capabilities-text82 {
  display: inline-block;
}
 
.burp-ai-capabilities-component26 {
  text-decoration: none;
}
 
.burp-ai-capabilities-text83 {
  display: inline-block;
}
 
.burp-ai-capabilities-text84 {
  display: inline-block;
}
 
.burp-ai-capabilities-text85 {
  display: inline-block;
}
 
.burp-ai-capabilities-text86 {
  display: inline-block;
}
 
.burp-ai-capabilities-text92 {
  display: inline-block;
  font-weight: 700;
}
