.rewards-and-benefits-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.rewards-and-benefits-text100 {
  display: inline-block;
}
 
.rewards-and-benefits-text104 {
  display: inline-block;
}
 
.rewards-and-benefits-text105 {
  display: inline-block;
}
 
.rewards-and-benefits-text107 {
  display: inline-block;
}
 
.rewards-and-benefits-text108 {
  display: inline-block;
}
 
.rewards-and-benefits-text109 {
  display: inline-block;
}
 
.rewards-and-benefits-text114 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.rewards-and-benefits-text115 {
  display: inline-block;
  font-weight: 700;
}
 
.rewards-and-benefits-text116 {
  display: inline-block;
}
 
.rewards-and-benefits-text117 {
  display: inline-block;
}
 
.rewards-and-benefits-text118 {
  display: inline-block;
}
 
.rewards-and-benefits-text119 {
  display: inline-block;
}
 
.rewards-and-benefits-text120 {
  display: inline-block;
}
 
.rewards-and-benefits-text121 {
  display: inline-block;
}
 
.rewards-and-benefits-text122 {
  display: inline-block;
}
 
.rewards-and-benefits-text123 {
  display: inline-block;
}
 
.rewards-and-benefits-text124 {
  font-weight: 700;
}
 
.rewards-and-benefits-text126 {
  display: inline-block;
}
 
.rewards-and-benefits-text127 {
  font-weight: 700;
}
 
.rewards-and-benefits-text129 {
  display: inline-block;
}
 
.rewards-and-benefits-text130 {
  font-weight: 700;
}
 
.rewards-and-benefits-text132 {
  display: inline-block;
}
 
.rewards-and-benefits-text133 {
  font-weight: 700;
}
 
.rewards-and-benefits-text135 {
  display: inline-block;
}
 
.rewards-and-benefits-text136 {
  font-weight: 700;
}
 
.rewards-and-benefits-text138 {
  display: inline-block;
}
 
.rewards-and-benefits-text139 {
  display: inline-block;
}
 
.rewards-and-benefits-text140 {
  display: inline-block;
}
 
.rewards-and-benefits-text141 {
  display: inline-block;
}
 
.rewards-and-benefits-text142 {
  display: inline-block;
}
 
.rewards-and-benefits-text143 {
  display: inline-block;
}
 
.rewards-and-benefits-text144 {
  font-weight: 700;
}
 
.rewards-and-benefits-text146 {
  display: inline-block;
}
 
.rewards-and-benefits-text147 {
  font-weight: 700;
}
 
.rewards-and-benefits-text149 {
  display: inline-block;
}
 
.rewards-and-benefits-text150 {
  font-weight: 700;
}
 
.rewards-and-benefits-text152 {
  display: inline-block;
}
 
.rewards-and-benefits-text153 {
  font-weight: 700;
}
 
.rewards-and-benefits-text155 {
  display: inline-block;
}
 
.rewards-and-benefits-text156 {
  font-weight: 700;
}
 
.rewards-and-benefits-text158 {
  display: inline-block;
}
 
.rewards-and-benefits-text159 {
  display: inline-block;
}
 
.rewards-and-benefits-text160 {
  display: inline-block;
}
 
.rewards-and-benefits-text161 {
  display: inline-block;
}
 
.rewards-and-benefits-text162 {
  display: inline-block;
}
 
.rewards-and-benefits-text163 {
  display: inline-block;
}
 
.rewards-and-benefits-text164 {
  display: inline-block;
}
 
.rewards-and-benefits-text165 {
  display: inline-block;
}
 
.rewards-and-benefits-text166 {
  display: inline-block;
}
 
.rewards-and-benefits-text167 {
  display: inline-block;
}
 
.rewards-and-benefits-text168 {
  font-weight: 700;
}
 
.rewards-and-benefits-text170 {
  display: inline-block;
}
 
.rewards-and-benefits-text171 {
  display: inline-block;
}
 
.rewards-and-benefits-text172 {
  display: inline-block;
}
 
.rewards-and-benefits-text173 {
  display: inline-block;
}
 
.rewards-and-benefits-text174 {
  display: inline-block;
}
 
.rewards-and-benefits-text175 {
  display: inline-block;
}
 
.rewards-and-benefits-text176 {
  display: inline-block;
}
 
.rewards-and-benefits-text177 {
  display: inline-block;
}
 
.rewards-and-benefits-text178 {
  display: inline-block;
}
 
.rewards-and-benefits-text179 {
  display: inline-block;
}
 
.rewards-and-benefits-text180 {
  font-weight: 700;
}
 
.rewards-and-benefits-text182 {
  display: inline-block;
}
 
.rewards-and-benefits-text183 {
  display: inline-block;
}
 
.rewards-and-benefits-text184 {
  display: inline-block;
}
 
.rewards-and-benefits-text185 {
  display: inline-block;
}
 
.rewards-and-benefits-text186 {
  display: inline-block;
}
 
.rewards-and-benefits-text187 {
  display: inline-block;
}
 
.rewards-and-benefits-text188 {
  display: inline-block;
}
 
.rewards-and-benefits-text189 {
  display: inline-block;
}
 
.rewards-and-benefits-text190 {
  display: inline-block;
}
 
.rewards-and-benefits-text191 {
  display: inline-block;
}
 
.rewards-and-benefits-text192 {
  font-weight: 700;
}
 
.rewards-and-benefits-text194 {
  display: inline-block;
}
 
.rewards-and-benefits-text195 {
  display: inline-block;
}
 
.rewards-and-benefits-text196 {
  display: inline-block;
}
 
.rewards-and-benefits-text197 {
  display: inline-block;
}
 
.rewards-and-benefits-text198 {
  display: inline-block;
}
 
.rewards-and-benefits-text199 {
  display: inline-block;
}
 
.rewards-and-benefits-text200 {
  display: inline-block;
}
 
.rewards-and-benefits-text201 {
  display: inline-block;
}
 
.rewards-and-benefits-text202 {
  display: inline-block;
}
 
.rewards-and-benefits-text203 {
  display: inline-block;
}
 
.rewards-and-benefits-text204 {
  font-weight: 700;
}
 
.rewards-and-benefits-text206 {
  display: inline-block;
}
 
.rewards-and-benefits-text207 {
  display: inline-block;
}
 
.rewards-and-benefits-text208 {
  display: inline-block;
}
 
.rewards-and-benefits-text209 {
  display: inline-block;
}
 
.rewards-and-benefits-text210 {
  display: inline-block;
}
 
.rewards-and-benefits-text211 {
  display: inline-block;
}
 
.rewards-and-benefits-text212 {
  display: inline-block;
}
 
.rewards-and-benefits-text213 {
  display: inline-block;
}
 
.rewards-and-benefits-text214 {
  display: inline-block;
}
 
.rewards-and-benefits-text215 {
  display: inline-block;
}
 
.rewards-and-benefits-text216 {
  font-weight: 700;
}
 
.rewards-and-benefits-text218 {
  display: inline-block;
}
 
.rewards-and-benefits-text219 {
  display: inline-block;
}
 
.rewards-and-benefits-text220 {
  display: inline-block;
}
 
.rewards-and-benefits-text221 {
  display: inline-block;
}
 
.rewards-and-benefits-text222 {
  display: inline-block;
}
 
.rewards-and-benefits-text223 {
  display: inline-block;
}
 
.rewards-and-benefits-text224 {
  display: inline-block;
}
 
.rewards-and-benefits-text225 {
  display: inline-block;
}
 
.rewards-and-benefits-text226 {
  display: inline-block;
}
 
.rewards-and-benefits-text227 {
  display: inline-block;
}
 
.rewards-and-benefits-text228 {
  font-weight: 700;
}
 
.rewards-and-benefits-text230 {
  display: inline-block;
}
 
.rewards-and-benefits-text231 {
  display: inline-block;
}
 
.rewards-and-benefits-text232 {
  display: inline-block;
}
 
.rewards-and-benefits-text233 {
  display: inline-block;
}
 
.rewards-and-benefits-text234 {
  display: inline-block;
}
 
.rewards-and-benefits-text235 {
  display: inline-block;
}
 
.rewards-and-benefits-text236 {
  display: inline-block;
}
 
.rewards-and-benefits-text237 {
  display: inline-block;
}
 
.rewards-and-benefits-text238 {
  display: inline-block;
}
 
.rewards-and-benefits-text239 {
  display: inline-block;
}
 
.rewards-and-benefits-text240 {
  font-weight: 700;
}
 
.rewards-and-benefits-text242 {
  display: inline-block;
}
 
.rewards-and-benefits-text243 {
  display: inline-block;
}
 
.rewards-and-benefits-text244 {
  display: inline-block;
}
 
.rewards-and-benefits-text245 {
  display: inline-block;
}
 
.rewards-and-benefits-text246 {
  display: inline-block;
}
 
.rewards-and-benefits-text247 {
  display: inline-block;
}
 
.rewards-and-benefits-text248 {
  display: inline-block;
}
 
.rewards-and-benefits-text249 {
  display: inline-block;
}
 
.rewards-and-benefits-text250 {
  display: inline-block;
}
 
.rewards-and-benefits-text251 {
  display: inline-block;
}
 
.rewards-and-benefits-text252 {
  font-weight: 700;
}
 
.rewards-and-benefits-text254 {
  display: inline-block;
}
 
.rewards-and-benefits-text255 {
  display: inline-block;
}
 
.rewards-and-benefits-container2 {
  align-items: stretch;
}
 
.rewards-and-benefits-text256 {
  display: inline-block;
}
 
.rewards-and-benefits-text257 {
  display: inline-block;
}
 
.rewards-and-benefits-text258 {
  display: inline-block;
}
 
.rewards-and-benefits-text259 {
  display: inline-block;
}
 
.rewards-and-benefits-text260 {
  display: inline-block;
}
 
.rewards-and-benefits-text261 {
  display: inline-block;
}
