.black-hat-research-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.black-hat-research-text10 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.black-hat-research-text11 {
  display: inline-block;
}
 
.black-hat-research-text12 {
  display: inline-block;
}
 
.black-hat-research-text13 {
  color: var(--dl-color-text-white);
  display: inline-block;
}
 
.black-hat-research-text14 {
  color: var(--dl-color-text-white);
  display: inline-block;
}
 
.black-hat-research-text18 {
  color: var(--dl-color-text-white);
  display: inline-block;
}
 
.black-hat-research-text22 {
  display: inline-block;
}
 
.black-hat-research-text23 {
  display: inline-block;
}
 
.black-hat-research-text24 {
  display: inline-block;
}
 
.black-hat-research-text25 {
  display: inline-block;
}
 
.black-hat-research-text26 {
  display: inline-block;
}
 
.black-hat-research-text27 {
  display: inline-block;
}
 
.black-hat-research-text28 {
  display: inline-block;
}
 
.black-hat-research-text29 {
  display: inline-block;
}
 
.black-hat-research-text30 {
  display: inline-block;
}
 
.black-hat-research-text31 {
  display: inline-block;
}
 
.black-hat-research-text32 {
  display: inline-block;
}
 
.black-hat-research-text33 {
  display: inline-block;
}
 
.black-hat-research-text34 {
  display: inline-block;
}
 
.black-hat-research-text35 {
  display: inline-block;
}
 
.black-hat-research-text36 {
  display: inline-block;
}
 
.black-hat-research-text37 {
  display: inline-block;
}
