.performance-upgrades-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.performance-upgrades-text10 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.performance-upgrades-text11 {
  display: inline-block;
}
 
.performance-upgrades-text12 {
  display: inline-block;
}
 
.performance-upgrades-text13 {
  display: inline-block;
}
 
.performance-upgrades-text14 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.performance-upgrades-text15 {
  display: inline-block;
}
 
.performance-upgrades-text16 {
  display: inline-block;
}
 
.performance-upgrades-text17 {
  display: inline-block;
}
 
.performance-upgrades-text18 {
  display: inline-block;
}
 
.performance-upgrades-text22 {
  display: inline-block;
}
 
.performance-upgrades-text23 {
  display: inline-block;
}
 
.performance-upgrades-text24 {
  display: inline-block;
}
 
.performance-upgrades-text25 {
  display: inline-block;
}
 
.performance-upgrades-text26 {
  display: inline-block;
}
 
.performance-upgrades-text27 {
  display: inline-block;
}
 
.performance-upgrades-text34 {
  display: inline-block;
}
 
.performance-upgrades-text35 {
  display: inline-block;
}
 
.performance-upgrades-link {
  text-decoration: underline;
}
 
.performance-upgrades-text38 {
  display: inline-block;
}
 
.performance-upgrades-text39 {
  display: inline-block;
}
 
.performance-upgrades-text40 {
  display: inline-block;
}
 
.performance-upgrades-text44 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.performance-upgrades-text45 {
  display: inline-block;
}
 
.performance-upgrades-text46 {
  display: inline-block;
}
