.portswigger-discord-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.portswigger-discord-text10 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.portswigger-discord-text11 {
  display: inline-block;
}
 
.portswigger-discord-text12 {
  display: inline-block;
}
 
.portswigger-discord-text13 {
  display: inline-block;
}
 
.portswigger-discord-text14 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.portswigger-discord-text15 {
  display: inline-block;
}
 
.portswigger-discord-text16 {
  display: inline-block;
}
 
.portswigger-discord-text17 {
  color: var(--dl-color-text-header-grey);
  display: inline-block;
  font-weight: 700;
}
 
.portswigger-discord-text18 {
  display: inline-block;
}
 
.portswigger-discord-text19 {
  display: inline-block;
}
 
.portswigger-discord-text20 {
  display: inline-block;
}
 
.portswigger-discord-text21 {
  display: inline-block;
}
 
.portswigger-discord-text22 {
  display: inline-block;
}
 
.portswigger-discord-text23 {
  display: inline-block;
}
 
.portswigger-discord-text24 {
  display: inline-block;
}
 
.portswigger-discord-text25 {
  display: inline-block;
}
 
.portswigger-discord-text26 {
  display: inline-block;
}
 
.portswigger-discord-text27 {
  display: inline-block;
}
 
.portswigger-discord-text28 {
  display: inline-block;
}
 
.portswigger-discord-text29 {
  display: inline-block;
}
 
.portswigger-discord-text30 {
  display: inline-block;
}
