.b-checks-extending-burp-scanner-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.b-checks-extending-burp-scanner-text10 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text11 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text12 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text13 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text14 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text15 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text16 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text17 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text18 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text19 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text20 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text21 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text22 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text23 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text24 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text25 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text26 {
  display: inline-block;
  font-weight: 700;
}
 
.b-checks-extending-burp-scanner-text27 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text28 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-link {
  text-decoration: underline;
}
 
.b-checks-extending-burp-scanner-text37 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text38 {
  display: inline-block;
  font-weight: 700;
}
 
.b-checks-extending-burp-scanner-text39 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text40 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text45 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text46 {
  display: inline-block;
}
 
.b-checks-extending-burp-scanner-text47 {
  color: var(--dl-color-core-white);
  display: inline-block;
}
