.app-sec-q-and-a-section-text100 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text101 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text102 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text103 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text113 {
  font-style: normal;
  font-weight: 700;
}
 
.app-sec-q-and-a-section-text114 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text115 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text116 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item1-content1 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link10 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text129 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item2-content1 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link11 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text132 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text133 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text138 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item4-content1 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text139 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text140 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text141 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item6-content1 {
  fill: var(--dl-color-text-body-grey);
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.app-sec-q-and-a-section-link12 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-link13 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text148 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text149 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text150 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text151 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item1-content2 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link14 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-link15 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-link16 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text164 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item2-content2 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text165 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text166 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link17 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text175 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item4-content2 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link18 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-link19 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text185 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text186 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text187 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item6-content2 {
  fill: var(--dl-color-text-body-grey);
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.app-sec-q-and-a-section-link20 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-link21 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text194 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text195 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text196 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text197 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item1-content3 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link22 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text207 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item2-content3 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text208 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text209 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link23 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text212 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item4-content3 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link24 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text221 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text222 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-link25 {
  text-decoration: underline;
}
 
.app-sec-q-and-a-section-text225 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-item6-content3 {
  fill: var(--dl-color-text-body-grey);
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.app-sec-q-and-a-section-text226 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text227 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text228 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text229 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text237 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text238 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-text239 {
  display: inline-block;
}
 
.app-sec-q-and-a-section-component20 {
  text-decoration: none;
}
 
.app-sec-q-and-a-section-text240 {
  display: inline-block;
}
 

