.banner-top-label {
  fill: var(--dl-color-core-orange-1);
  color: var(--dl-color-core-orange-1);
}
 
.banner-text1 {
  fill: var(--dl-color-core-navy-1);
  color: var(--dl-color-core-navy-1);
}
 
.banner-component {
  text-decoration: none;
}
 
.banner-text2 {
  display: inline-block;
}
 
.banner-text3 {
  display: inline-block;
}
 
.banner-text4 {
  display: inline-block;
}
 
.banner-text5 {
  display: inline-block;
}
 
.bannerroot-class-name {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-core-navy-3);
}
 
.bannerroot-class-name1 {
  padding-top: var(--dl-layout-space-l);
  padding-bottom: var(--dl-layout-space-l);
}
 

 
.bannerroot-class-name3 {
  padding-top: var(--dl-layout-space-xxl);
  padding-bottom: var(--dl-layout-space-xxl);
}
 
.bannerroot-class-name4 {
  padding-top: var(--dl-layout-space-xxl);
  padding-bottom: var(--dl-layout-space-xxl);
}
 
.bannerroot-class-name5 {
  padding-top: var(--dl-layout-space-xxl);
  padding-bottom: var(--dl-layout-space-xxl);
}
 
.bannerroot-class-name6 {
  padding-top: var(--dl-layout-space-xxl);
  padding-bottom: var(--dl-layout-space-xxl);
}
 

 

 

 
.bannerroot-class-name10 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-core-navy-3);
}
 
.bannerroot-class-name11 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--dl-color-core-navy-3);
}
 
.bannerroot-class-name12 {
  padding-top: var(--dl-layout-space-l);
  padding-bottom: var(--dl-layout-space-l);
}
 

 

 
.bannerroot-class-name15 {
  padding-top: var(--dl-layout-space-l);
  padding-bottom: var(--dl-layout-space-l);
}
 
@media(max-width: 1280px) {
  .banner-max-width {
    flex-direction: column-reverse;
  }
  .bannerroot-class-name {
    padding-bottom: var(--dl-layout-space-l);
  }
  .bannerroot-class-name10 {
    padding-bottom: var(--dl-layout-space-l);
  }
  .bannerroot-class-name11 {
    padding-bottom: var(--dl-layout-space-l);
  }
}
 
@media(max-width: 800px) {
  .banner-max-width {
    align-items: flex-start;
  }
}
