.button1-text {
  display: inline-block;
}
 

 
.button1root-class-name1 {
  height: 35px;
  z-index: 4;
}
 

 

 
.button1root-class-name4 {
  height: 35px;
  z-index: 4;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
.button1root-class-name29 {
  border: 0;
  background: none;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
.button1root-class-name46 {
  align-self: center;
}
 
.button1root-class-name47 {
  margin-top: auto;
}
 

 

 
.button1root-class-name50 {
  align-self: center;
}
 

 

