.check-list-section-section-heading {
  color: var(--dl-color-core-navy-1);
}
 
.check-list-section-container {
  filter: var(--drop-shadow);
  border-top: 3px solid;
  border-color: var(--dl-color-core-community-2);
  background-color: var(--dl-color-backgrounds-white);
  border-bottom-left-radius: var(--dl-layout-radius-m);
  border-bottom-right-radius: var(--dl-layout-radius-m);
}
 
.check-list-section-sub-heading {
  color: var(--dl-color-core-navy-1);
}
 
.check-list-section-text18 {
  display: inline-block;
}
 
.check-list-section-text19 {
  display: inline-block;
}
 
.check-list-section-text20 {
  font-weight: 700;
}
 
.check-list-section-text22 {
  display: inline-block;
}
 
.check-list-section-text23 {
  font-weight: 700;
}
 
.check-list-section-text25 {
  display: inline-block;
}
 
.check-list-section-text26 {
  font-weight: 700;
}
 
.check-list-section-text28 {
  display: inline-block;
}
 
.check-list-section-text29 {
  font-weight: 700;
}
 
.check-list-section-text31 {
  display: inline-block;
}
 
.check-list-section-text32 {
  font-weight: 700;
}
 
.check-list-section-text34 {
  display: inline-block;
}
 
.check-list-section-text35 {
  font-weight: 700;
}
 
.check-list-section-text37 {
  display: inline-block;
}
 
.check-list-section-text38 {
  font-weight: 700;
}
 
.check-list-section-text40 {
  display: inline-block;
}
 
.check-list-section-text41 {
  display: inline-block;
}
 
.check-list-section-text42 {
  font-weight: 700;
}
 

 

 

