.customer-stories-cards-text10 {
  display: inline-block;
}
 
.customer-stories-cards-text11 {
  display: inline-block;
}
 
.customer-stories-cards-text12 {
  display: inline-block;
}
 
.customer-stories-cards-text13 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-stories-cards-text14 {
  display: inline-block;
}
 
.customer-stories-cards-text15 {
  display: inline-block;
}
 
.customer-stories-cards-text16 {
  display: inline-block;
  font-weight: 700;
}
 
.customer-stories-cards-description1 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.customer-stories-cards-description2 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.customer-stories-cards-text19 {
  display: inline-block;
}
 
.customer-stories-cards-text20 {
  display: inline-block;
}
 
.customer-stories-cards-text21 {
  display: inline-block;
}
 

 

