.icon1-container {
  stroke: currentColor;
  display: flex;
  min-width: 24px;
  transition: 0.3s;
  flex-direction: column;
  pointer-events: none;
}
 
.icon1-icon2247 {
  stroke: none;
}
 
.icon1-icon2254 {
  stroke: none;
}
 
.icon1-icon2261 {
  stroke: none;
}
 
.icon1-icon2268 {
  stroke: none;
}
 
.icon1-icon2275 {
  stroke: none;
}
 
.icon1-icon2282 {
  stroke: none;
}
 
.icon1-icon2292 {
  stroke: none;
}
 
.icon1-icon2299 {
  fill: currentColor;
  stroke: currentColor;
}
 
.icon1-icon2301 {
  fill: currentColor;
  stroke: currentColor;
}
 
.icon1-image1 {
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
 
.icon1-image2 {
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
 
.icon1-image3 {
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
 
.icon1-image4 {
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
 
.icon1-image5 {
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
 
.icon1-image6 {
  height: 60px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
 
.icon1root-class-name {
  width: 24px;
}
 
.icon1root-class-name1 {
  width: 48px;
}
 
.icon1root-class-name2 {
  width: 64px;
}
 
.icon1root-class-name3 {
  width: 24px;
  stroke: red;
}
 
.icon1root-class-name4 {
  width: 48px;
  stroke: blue;
}
 
.icon1root-class-name5 {
  width: 64px;
  stroke: green;
}
 
.icon1root-class-name6 {
  width: 24px;
}
 
.icon1root-class-name7 {
  width: 48px;
}
 
.icon1root-class-name8 {
  width: 64px;
}
 
.icon1root-class-name9 {
  width: 24px;
  stroke: red;
}
 
.icon1root-class-name10 {
  width: 48px;
  stroke: blue;
}
 
.icon1root-class-name11 {
  width: 64px;
  stroke: green;
}
 
.icon1root-class-name12 {
  width: 24px;
  stroke: red;
}
 
.icon1root-class-name13 {
  width: 48px;
  stroke: blue;
}
 
.icon1root-class-name14 {
  width: 64px;
  stroke: green;
}
 

 
.icon1root-class-name16 {
  display: none;
}
 
.icon1root-class-name17 {
  padding: 4px;
}
 
.icon1root-class-name18 {
  top: 2px;
  right: 10px;
  width: 13px;
  position: absolute;
}
 
.icon1root-class-name19 {
  width: 13px;
}
 
.icon1root-class-name20 {
  width: 16px;
}
 
.icon1root-class-name21 {
  width: 47px;
}
 
.icon1root-class-name22 {
  padding: 4px;
}
 
.icon1root-class-name23 {
  padding: 4px;
}
 

 

 

 

 
.icon1root-class-name28 {
  width: 16px;
  min-width: 16px;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
.icon1root-class-name44 {
  opacity: 0;
  visibility: hidden;
  grid-column: 1;
  grid-row-start: 1;
}
 
.icon1root-class-name45 {
  grid-column: 1;
  grid-row-start: 1;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
.icon1root-class-name87 {
  padding: 4px;
  max-width: 24px;
  max-height: 24px;
  min-height: 24px;
  border-radius: 50%;
}
 
.icon1root-class-name88 {
  padding: 4px;
  max-width: 24px;
  max-height: 24px;
  min-height: 24px;
  border-radius: 50%;
}
 

 

 

 

 

 

 

 

 

 

 

 

 
.icon1root-class-name101 {
  max-height: 60px;
}
