.meet-swiggers-section-container2 {
  display: contents;
}
 
.meet-swiggers-section-text10 {
  color: var(--dl-color-core-navy-1);
}
 
.meet-swiggers-section-text11 {
  color: var(--dl-color-core-navy-1);
}
 
.meet-swiggers-section-text12 {
  color: var(--dl-color-core-navy-1);
}
 
.meet-swiggers-section-text14 {
  display: inline-block;
}
 
.meet-swiggers-section-text15 {
  display: inline-block;
}
 
.meet-swiggers-section-text16 {
  display: inline-block;
}
 
.meet-swiggers-section-text17 {
  display: inline-block;
}
 
.meet-swiggers-section-text18 {
  display: inline-block;
}
 
.meet-swiggers-section-text19 {
  display: inline-block;
}
 
.meet-swiggers-sectionroot-class-name {
  background-color: var(--dl-color-backgrounds-light-teal);
}
