.minimal-header-container {
  background-color: var(--dl-color-core-navy-1);
}
 
.minimal-header-image {
  width: 253px;
  height: 40px;
  object-fit: cover;
  text-decoration: none;
}
 
.minimal-headerroot-class-name {
  background-color: #1A1A39;
}
 

 

 
.minimal-headerroot-class-name3 {
  background-color: #1A1A39;
}
 

 

 

