.minimal-header-container1 {
  background-color: var(--dl-color-core-navy-1);
}
 
.minimal-header-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.minimal-header-text {
  display: inline-block;
}
 
.minimal-header-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-core-navy-1);
}
 
.minimal-header-image {
  width: 253px;
  height: 40px;
  object-fit: cover;
  text-decoration: none;
}
 
.minimal-headerroot-class-name {
  background-color: #1A1A39;
}
 

 

 
.minimal-headerroot-class-name3 {
  background-color: #1A1A39;
}
 

 

 

