.news-cards-section-burp-ai-container2 {
  grid-template-columns: 1fr 1fr;
}
 
.news-cards-section-burp-ai-text10 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-text11 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-description1 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.news-cards-section-burp-ai-text12 {
  display: inline-block;
  font-weight: 700;
}
 
.news-cards-section-burp-ai-text13 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-text14 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-description2 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.news-cards-section-burp-ai-text15 {
  display: inline-block;
  font-weight: 700;
}
 
.news-cards-section-burp-ai-text16 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-text17 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-description3 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.news-cards-section-burp-ai-text18 {
  display: inline-block;
  font-weight: 700;
}
 
.news-cards-section-burp-ai-text19 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-text20 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-description4 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.news-cards-section-burp-ai-text21 {
  display: inline-block;
  font-weight: 700;
}
 
.news-cards-section-burp-ai-text22 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-text23 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-description5 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.news-cards-section-burp-ai-text24 {
  display: inline-block;
  font-weight: 700;
}
 
.news-cards-section-burp-ai-text25 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-text26 {
  display: inline-block;
}
 
.news-cards-section-burp-ai-description6 {
  color: var(--dl-color-text-body-grey);
  display: inline-block;
}
 
.news-cards-section-burp-ai-text27 {
  display: inline-block;
  font-weight: 700;
}
 

