.pardot-form-handler-script-container1 {
  width: 100%;
  height: 0px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.pardot-form-handler-script-container2 {
  display: none;
}
 
.pardot-form-handler-script-container3 {
  display: contents;
}
 
.pardot-form-handler-scriptroot-class-name {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name1 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name2 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name3 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name4 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name5 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name6 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name7 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name8 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name9 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name10 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name11 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name12 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name13 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name14 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name15 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name16 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name17 {
  height: x;
}
 
.pardot-form-handler-scriptroot-class-name18 {
  height: x;
}
 

 
@media(max-width: 1536px) {
  .pardot-form-handler-script-container1 {
    width: 0%;
    height: 0px;
  }
}
