.salesforce-tracking-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.salesforce-tracking-container2 {
  display: none;
  visibility: hidden;
}
 
.salesforce-tracking-container3 {
  display: contents;
}
 
.salesforce-trackingroot-class-name {
  display: none;
}
