.simple-check-list-list {
  flex-wrap: wrap;
}
 
.simple-check-listroot-class-name {
  fill: var(--dl-color-core-white);
  color: var(--dl-color-core-white);
  padding-top: var(--dl-layout-space-m);
  background-color: #040423;
}
 
.simple-check-listroot-class-name1 {
  padding-top: var(--dl-layout-space-s);
  padding-bottom: var(--dl-layout-space-s);
}
 
.simple-check-listroot-class-name2 {
  fill: var(--dl-color-core-white);
  color: var(--dl-color-core-white);
  padding-top: var(--dl-layout-space-m);
  background-color: #040423;
}
 
@media(max-width: 800px) {
  .simple-check-list-list {
    justify-content: flex-start;
  }
}
 
@media(max-width: 390px) {
  .simple-check-list-list-item {
    align-items: flex-start;
  }
}
