.twitter-button-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.twitter-button-frame5622 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 2px 20px;
  align-items: center;
  border-color: rgba(0, 172, 238, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
}
 
.twitter-button-frame5626 {
  gap: 5px;
  display: flex;
  align-items: center;
}
 
.twitter-button-twitterand-xlogossvg1 {
  width: 18px;
  height: 14px;
}
 
.twitter-button-text {
  fill: rgba(0, 172, 238, 1);
  color: rgba(0, 172, 238, 1);
  font-size: 14px;
  font-family: "Arial";
  line-height: 24px;
}
 
.twitter-buttonroot-class-name {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name6 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name7 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name8 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name9 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name10 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name11 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name12 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name13 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name14 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name15 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name16 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name17 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name18 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name19 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name20 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name21 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name22 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name23 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name24 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name25 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name26 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name27 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name28 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name29 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name30 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name31 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name32 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name33 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name34 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name35 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name36 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name37 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name38 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name39 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name40 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name41 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name42 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name43 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name44 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name45 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name46 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name47 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name48 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name49 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name50 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name51 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name52 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name53 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name54 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name55 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name56 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name57 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name58 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name59 {
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.twitter-buttonroot-class-name60 {
  margin-top: 5px;
  margin-bottom: 5px;
}
