.video-embeds-list-iframe1 {
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
 
.video-embeds-list-text1 {
  align-self: center;
  margin-top: 1rem;
  text-align: center;
}
 
.video-embeds-list-iframe2 {
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
 
.video-embeds-list-text2 {
  align-self: center;
  margin-top: 1rem;
  text-align: center;
}
 
.video-embeds-list-iframe3 {
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
 
.video-embeds-list-text3 {
  align-self: center;
  margin-top: 1rem;
  text-align: center;
}
 
.video-embeds-list-text4 {
  display: inline-block;
}
 
.video-embeds-list-text5 {
  display: inline-block;
}
 
.video-embeds-list-text6 {
  display: inline-block;
}
 

