.burp-suite-enterprise-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.burp-suite-enterprise-text10 {
  display: inline-block;
}
 
.burp-suite-enterprise-text11 {
  display: inline-block;
}
 
.burp-suite-enterprise-text12 {
  display: inline-block;
}
 
.burp-suite-enterprise-text13 {
  display: inline-block;
}
 
.burp-suite-enterprise-text14 {
  display: inline-block;
}
 
.burp-suite-enterprise-text15 {
  display: inline-block;
}
 
.burp-suite-enterprise-text16 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.burp-suite-enterprise-text17 {
  display: inline-block;
}
 
.burp-suite-enterprise-text18 {
  display: inline-block;
}
 
.burp-suite-enterprise-text19 {
  display: inline-block;
}
 
.burp-suite-enterprise-text20 {
  color: var(--dl-color-text-white);
  display: inline-block;
  font-weight: 700;
}
 
.burp-suite-enterprise-text21 {
  display: inline-block;
}
 
.burp-suite-enterprise-text22 {
  display: inline-block;
  font-weight: 700;
}
 
.burp-suite-enterprise-text23 {
  display: inline-block;
}
 
.burp-suite-enterprise-text24 {
  display: inline-block;
}
 
.burp-suite-enterprise-text25 {
  display: inline-block;
}
 
.burp-suite-enterprise-text26 {
  display: inline-block;
}
 
.burp-suite-enterprise-text27 {
  display: inline-block;
}
 
.burp-suite-enterprise-text28 {
  display: inline-block;
}
 
.burp-suite-enterprise-text29 {
  display: inline-block;
}
 
.burp-suite-enterprise-text30 {
  display: inline-block;
}
 
.burp-suite-enterprise-link1 {
  text-decoration: underline;
}
 
.burp-suite-enterprise-text32 {
  display: inline-block;
}
 
.burp-suite-enterprise-text33 {
  display: inline-block;
}
 
.burp-suite-enterprise-text34 {
  display: inline-block;
}
 
.burp-suite-enterprise-text35 {
  display: inline-block;
}
 
.burp-suite-enterprise-text36 {
  display: inline-block;
}
 
.burp-suite-enterprise-text37 {
  display: inline-block;
}
 
.burp-suite-enterprise-text38 {
  display: inline-block;
}
 
.burp-suite-enterprise-text39 {
  display: inline-block;
}
 
.burp-suite-enterprise-text40 {
  display: inline-block;
}
 
.burp-suite-enterprise-text41 {
  display: inline-block;
}
 
.burp-suite-enterprise-text42 {
  display: inline-block;
}
 
.burp-suite-enterprise-link2 {
  text-decoration: underline;
}
 
.burp-suite-enterprise-text44 {
  display: inline-block;
}
 
.burp-suite-enterprise-text45 {
  display: inline-block;
}
 
.burp-suite-enterprise-text46 {
  display: inline-block;
}
 
.burp-suite-enterprise-text47 {
  display: inline-block;
}
 
.burp-suite-enterprise-text48 {
  display: inline-block;
}
 
.burp-suite-enterprise-text49 {
  display: inline-block;
}
 
.burp-suite-enterprise-text50 {
  display: inline-block;
}
 
.burp-suite-enterprise-text51 {
  display: inline-block;
}
 
.burp-suite-enterprise-text52 {
  display: inline-block;
}
 
.burp-suite-enterprise-link3 {
  text-decoration: underline;
}
 
.burp-suite-enterprise-text55 {
  display: inline-block;
}
 
.burp-suite-enterprise-text56 {
  display: inline-block;
}
 
.burp-suite-enterprise-link4 {
  text-decoration: underline;
}
 
.burp-suite-enterprise-text58 {
  display: inline-block;
}
 
.burp-suite-enterprise-text59 {
  display: inline-block;
}
 
.burp-suite-enterprise-text60 {
  display: inline-block;
}
 
.burp-suite-enterprise-text61 {
  display: inline-block;
}
 
.burp-suite-enterprise-text62 {
  display: inline-block;
}
 
.burp-suite-enterprise-text63 {
  display: inline-block;
}
 
.burp-suite-enterprise-text64 {
  display: inline-block;
}
 
.burp-suite-enterprise-text65 {
  display: inline-block;
}
 
.burp-suite-enterprise-text70 {
  display: inline-block;
}
 
.burp-suite-enterprise-text71 {
  display: inline-block;
  font-weight: 700;
}
 
.burp-suite-enterprise-text72 {
  display: inline-block;
}
 
.burp-suite-enterprise-text73 {
  color: var(--dl-color-text-header-white);
  display: inline-block;
}
 
.burp-suite-enterprise-text74 {
  display: inline-block;
}
 
.burp-suite-enterprise-text75 {
  color: var(--dl-color-text-white);
  display: inline-block;
}
